@import './../../assets/colors.scss';

.panel-container{
    padding: 20px;
    font-size: 12px;

    ul li {
        display: flex;
        align-items: center;
    }
    p {
        margin-right: 10px;
    }
    input {
        width: 20px;
        height: 20px;
    }
}