@import './../../assets/colors.scss';

.panel-container{
    padding: 20px;
    font-size: 12px;

    ul li {
        display: flex;
        align-items: center;
    }
    p {
        margin-right: 10px;
    }
    input {
        width: 100px;
        height: 20px;
    }
    input[type="checkbox"]{
        width: 17px;
        height: 17px;
        margin: o;
        margin-left: 4px;
    }
    span {
        margin-left: 40x;
        color: $grey;
    }
    textarea{
        width: 20%;
        height: 100px;
        margin-top: 10px;
        resize: none;
    }

}