@import './../../assets/colors.scss';

.profile-container{
    border-radius: 7px;
    background: $background;
    padding: 20px;
    margin: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: $borderColor;
    width: 20%;
    .image-container{
        height: 250px;
        width: 250px;
        background-color: $itemBackground;
        border-radius: 50%;
        display: inline-block;
        margin: 20px;
    }
    .info-container{
        border-radius: 7px;
        background-color: $itemBackground;
        height: 125px;
        width: 290px;
    }
}