@import './../../assets/colors.scss';

.shortLayout {
    .gallery-container{
        .cell{
            width: 1400px;
            align-self: center;
        }
    }
}

.defaultLayout {
    .gallery-container{
        align-self: center;
        align-content: center;
        margin: 20px; 
        .cell{
            background: $background;
            margin: 20px;
            height: 350px;
            border-radius: 7px;
            margin: 5px;

            .twitter-profile{
                width: 500px;
            }
        }
    }
}