$white: white;
$headerTheme1: #00897b;
$footer: #d4c4c0;
$btnAdmin: #ff5722;
$btnAdminHover: #e64a19;
$borderColor: #ffcdd2;
$background: rgb(220, 214, 214);
$itemBackground: #f5f5f5;
$grey: grey;

// Deafult Theme:
$defaultMain: #424242;
$defaultButton: #607d8b;
$defaultButtonHover: #7699ab;
$defaultBackground: #e0e0e0;
$defaultMainBg: #f5f5f5;
$defaultFooter: #616161;

// Red Theme:
$redMain: #af4448;
$redMainBg: #f5f5f5;
$redBackground: #ffcdd2;
$redButton: #a1887f;
$redButtonHover: #8d6e63;
$redFooter: #ef9a9a;

// Blue Theme:
$blueMain: #01579b;
$blueMainBg: #f5f5f5;
$blueBackground: #6ff9ff;
$blueButton: #1976d2;
$blueButtonHover: #1565c0;
$blueFooter: #6ec6ff;