@import './assets/colors';

body{
    background: $defaultMainBg;
}

.button {
    padding: 8px 14px; 
    border: none;
    text-decoration: none;
    background-color: $defaultButton;
    color: $white;

    &:hover {
        background-color: $defaultButtonHover;
    }
}


.container {
    padding: 10px 20px;
}

//Layouts 
.shortLayout { 
    .main{
        display: flex;
        height: 740px;
        justify-content: space-between;

        .lower{
            display: flex;
            flex-direction: column;
            justify-content: space-around
        }
        
    }
}

.defaultLayout{
    .main{
        display: flex;  
        flex-direction: column;
        margin-bottom: 100px;
        .lower{
            margin-bottom: 100px;
        }
    }
}

//Color Themes
.default{
    .header-container{
        .header{
            background: $defaultMain;
        }
        .button{
            background: $defaultButton;

            &:hover{
                background: $defaultButtonHover;
            }
        }
    }
    .profile-container{
        .profile{
            background: $defaultBackground;
        }
        .baner{
            background: $defaultMain;
        }
    }

    .footer{
        background: $defaultFooter;
    }
}

.red{

    .header-container{
        .header{
            background: $redMain;
        }
        .button{
            background: $redButton;

            &:hover{
                background: $redButtonHover;
            }
        }
    }
    
    .profile-container{
        .profile{
            background: $redBackground;

                .baner{
                    background: $redMain;
                }
        }
    }

    .footer{
        background: $redFooter;
    }
}

.blue {
    .header-container{
        .header{
            background: $blueMain;
        }
        .button{
            background: $blueButton;

            &:hover{
                background: $blueButtonHover;
            }
        }
    }
    .profile-container{
        .profile{
            background: $blueBackground;
        }
        .baner{
            background: $blueMain
        }
    }
    .footer{
        background: $blueFooter;
    }
}
